
html{
    scroll-behavior:smooth;
}
body{
    background: rgb(227,232,233);
    background: linear-gradient(180deg, #e6e7e9 30%, #a4a9ad 70%);
    background-size: cover;
    background-attachment: fixed;

    height: 100%;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    color: black;
    font-size: 1.5rem/* 24px */;

    -webkit-user-select: none;    /* Safari */
    -webkit-touch-callout: none;  /* iOS Safari */
    -khtml-user-select: none;     /* Konqueror HTML */
    -ms-user-select: none;        /* Internet Explorer/Edge */
    -moz-user-select: none;       /* Old versions of Firefox */
     user-select: none;           /* Non-prefixed version*/
}
a {
    text-decoration: none;
    color: inherit;
}

header {
    cursor: default;

    height: 30px;
    display: flex;
    position:relative;
    align-items:center;
    justify-content: space-between;
    padding: 1.25rem/* 20px */;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  nav > ul {

    display: flex;

    gap: 2rem/* 16px */;



}
.toggle-menu{
    display: none;
}
@media(max-width: 760px)
{


    body{
        background: rgb(240,241,243);
        background: linear-gradient(180deg, rgba(240,241,243,1) 13%, rgba(211,216,220,1) 47%, rgba(211,216,220,1) 75%);
    }
    nav > ul[data-visible='false']{
        right: -20rem;
        gap: 2rem;
        transition: right 0.5s ease;
        
    }
    .toggle-menu{
        transition: transform 0.5s ease;
        display:inline-block;
        position:absolute;
        cursor:pointer;
        z-index: 999;
        border: none;
        outline: none;
        background: url('assets/menu.svg');
        width:2rem;
        aspect-ratio: 1;
        top:1.5rem;
        right:2rem;
    }
    nav > ul {
        z-index:100;
        border-top-left-radius:30%;
        position:fixed;
        top: 0;
        right: 0;
        margin:auto;
        background: linear-gradient(180deg, rgb(230, 231, 233,0.3) 30%, rgb(164, 169, 173, 0.3) 70%);
        backdrop-filter: blur(3px);
        padding-right: 7rem;
        height: 100%;
        padding-top:7rem;
        flex-direction: column;
        justify-content: start;
        transition: right 0.5s ease-in-out;

        gap: 2rem/* 16px */;
    
    
    }
    .about > p:nth-child(2) {

        line-height: 2rem;
        }

}
@media(max-width:1175px){
    .about > p:nth-child(2) {

        line-height: 2rem;
        }

}
nav > ul > li {
        position: relative;
        list-style-type: none;
        text-decoration: none;
        width: max-content;

 

}
nav > ul > li:active{
    font-weight: bold;
}
nav > ul > li::after{
    content: '';
    position:absolute;
    left: 0;
    bottom: 0;
    width:0%;
    height:0.175rem;
    background: rgb(191, 210, 236);
    transition: width 0.25s ease-in-out;

}
nav > ul > li:hover::after{
    width:100%;

}














main{

position:relative;

}
.myInfo{
    backdrop-filter: blur(4px);

    height: 35rem;
    background-image: url('assets/bg.jpg');
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-position: center;
    border-radius: 0% 0% 80% 80%;

    background-repeat: no-repeat;
    background-size: cover;

    margin:auto;
    margin-top:1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-radius: 10% 10% 5% 5%; 
    overflow: hidden;

}

.myInfo::after{
    content:'';
    position:absolute;
    z-index: 1;
    background: rgba(78, 76, 76, 0.7);
    backdrop-filter: blur(2px);
    width:100%;
    height:100%;
    border-radius: 10% 10% 5% 5%; 
}
.name{
    opacity: 1;
    z-index:100;
    font-size: 34px;
    text-shadow: 1px 5px #FF0000;
    color: rgb(253, 213, 213);
    font-weight: bold;
}
.about{

    width : 70%;
    opacity:1;
    z-index:100;
    text-align: center;
    color: white;
}
.whoami::after{
    content:'';
    color:sandybrown;
    animation: aboutFrame 6s ease-in-out infinite;

}

@keyframes aboutFrame{
    from{
        content:'Bug Hunter';

    }
    50%{
        content:'Bug Hunter';
    }
    60%{
        content:'Web Dev'; 
    }
    to{
        content:'Web Dev'; 
    }
}

.unsika:hover{
    color:rgb(255, 119, 119);
}

.skill{

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem;


}
main > h2{
    text-align:center;
    text-transform: uppercase;
    font-weight:bold;

}
.skill-card{

    
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 5% 5% 10% 10%;
    box-shadow: 1px 5px 5px 5px #b3b2b2;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 14%, rgba(209,214,217,1) 74%, rgba(205,205,205,1) 90%);
    flex: 1 1 56rem;



}
.skill-card:hover{
    transition: transform 150ms ease-in;
    transform: scale(1.01);

}
.skill-title{
    margin: 0 2rem 0 2rem;
    text-align:center;
    font-weight:bold;
}
.skill-description{
    margin: 0 2rem 0 2rem;
}
@media(max-width: 760px)
{
    .skill-card{
        flex: 100%;

    }

}